genmc

*~
\#*\#
*.bak
*.backup
.*.sw[a-z]

*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.toc
*.xdv
*.tex
*.out
*.dot

*.ll

*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa

.deps/
.vscode/
src/.vs/
src/.vscode

aclocal.m4
ar-lib
autom4te.cache
compile
config.h
config.h.in
config.guess
config.status
config.log
configure
depcomp
install-sh
missing
stamp-*
tests/ds-models/
tests/configs/
